<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>最Min捷快速-短網址產生器</title>
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <!-- Tailwind CSS + DaisyUI -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Alpine.js -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QV46HF1FJF"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QV46HF1FJF");
    </script>
  </head>
  <body class="bg-gray-50 min-h-screen flex flex-col">
    <!-- Navbar -->
    <header class="bg-white shadow-md p-4">
      <div class="container mx-auto text-xl font-bold text-primary">
        <a href="/">短網址產生器</a>
      </div>
    </header>

    <!-- Content -->
    <main class="container mx-auto flex-1 p-4">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-sm text-gray-500 py-4 border-t">
      &copy; 2025 短網址平台 | 開發者 Min
    </footer>
  </body>
</html>
